.showBorder{ border: 1px solid#000000; }

.header {display: flex; justify-content: space-between; padding: 0.8rem; border-bottom: 2px solid#000000;}
.header > .box-left {flex: 1;}
.header > .title {flex: 5; display: flex; justify-content: center; align-items: center;}
.header > .title > span {font-weight: bold; font-size: 28px; }
.header > .box-right {flex: 1;}

.questionbook { display: flex; flex-wrap: wrap; margin-top: 2.2rem;}
.questionbook > .item-box { width: 50%; display: flex; justify-content: center; margin-bottom: 2.8rem; align-items: center;}
.questionbook > .item-box > .book { background-color: #f9a1ff; width: 57%; height: 170px; text-align: center; padding-top: 1.2rem; font-size: 18px; font-weight: bold; color: #eee;  box-shadow: 7px 7px #cecece;}
.questionbook > .item-box > .plus-book { width: 60%; height: 60%; position: relative;}
.questionbook > .item-box > .plus-book > img { width: 80%; height: 80%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
