/* 기타 */
.showBorder{ border: 1px solid#000000; }
/*  */
/* 헤더 */
.header {display: flex; justify-content: space-between; padding: 0.8rem; border-bottom: 2px solid#000000;}
.header > .box-left {flex: 1;}
.header > .title {flex: 5; display: flex; justify-content: center; align-items: center;}
.header > .title > span {font-weight: bold; font-size: 28px; }
.header > .box-right {flex: 1;}
/* 헤더 */

/* 메인 */
.main {height: 100%;}
.main article {width: 75%; margin: 3rem auto;}
.main article .title {font-weight: bold; display: flex; justify-content: space-between; align-items: end;}
.main article .title .text {font-size: 22px;}
.main article .title .more {font-size: 20px; color: #818181;}
.main article .question-list {border : 2px solid#000000; border-radius: 0.8rem; margin-top: 0.3rem;}
.main article .question-list .item {border-bottom: 1.5px solid#000000; padding: 0.7rem; font-weight: 500; display: flex; justify-content: space-between; align-items: center;}
.main article .question-list .item:last-child {border: 0px solid#000000;}
.main article .question-list .item .question-subject {}
.main article .question-list .item .question-tag {background-color: #ff2d2d; padding: 0.4rem 0.6rem; font-weight: bold; color: #eee; border-radius: 0.3rem;}
/* 메인 */

/* 문제 등록 */
.question-insert {height: 100%;}
.question-insert article {width: 88%; margin: 2rem auto;}
.question-insert article > .title {margin-bottom: 1.2rem; display: flex; justify-content: space-between; align-items: flex-end;}
.question-insert article > .title > .text {font-weight: bold; font-size: 24px; }
.question-insert article > .title > .more {font-weight: bold; font-size: 18px; color: gray; border: 2px solid gray; padding: 0.3rem 0.3rem; border-radius: 0.3rem;}

.question-type { display: flex; justify-content: space-around;}
.question-type > .btn {border: 2px solid #000000; font-weight: bold; font-size: 1.2rem; padding: 0.8rem 1.0rem; border-radius: 0.3rem;}
.question-type > .btn.on {border: 2px solid #383838; color: #ffffff; background-color: #383838;}

.question-subject {width: 100%;}
.question-subject label {width: 100%;}
.question-subject input {border: none; width: 100%; border-bottom: 2px solid #818181; font-size: 1.2rem;}

.question-answer {width: 100%;}
.question-answer > .item {display: flex; margin: 0.5rem; justify-content: space-between; align-items: center;}
.question-answer > .item > .subject {width: 60%;}
.question-answer > .item > .btns {width: 35%; display: flex; justify-content: flex-end;}
.question-answer > .item > .subject > label {display: flex}
.question-answer > .item > .subject > label > input {border: none; border-bottom: 2px solid #818181; width: 100%;}
.btns > span {padding: 0.2rem 0.6rem; font-weight: 600; color: #f1f1f1; border-radius: 0.3rem;}
.btns > .btn-isAnswer {background-color: #7ecef4;}
.btns > .btn-cancel {background-color: #ff2d2d; margin-left: 0.5rem;}

.question-submit { display: flex; justify-content: center;}
.question-submit > button {width: 40%; border-radius: 1rem; border: none; background-color: #383838; color: #f1f1f1; font-size: 26px; padding: 0.7rem; font-weight: bold;}
/* 문제 등록 */

/* 문제집 */
.questionbook { display: flex; flex-wrap: wrap; margin-top: 2.2rem;}
.questionbook > .item-box { width: 50%; display: flex; justify-content: center; margin-bottom: 2.8rem; align-items: center;}
.questionbook > .item-box > .book { background-color: #f9a1ff; width: 57%; height: 170px; text-align: center; padding-top: 1.2rem; font-size: 18px; font-weight: bold; color: #eee;  box-shadow: 7px 7px #cecece;}
.questionbook > .item-box > .plus-book { width: 60%; height: 60%; position: relative;}
.questionbook > .item-box > .plus-book > img { width: 80%; height: 80%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
/* 문제집 */


/* 모달 */
.modal {
    display: none;
    width: 100%;
    background-color: hsl(0, 0%, 57%, 90%);
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    transform: translate(-50%, -50%);    
}
.modal.open {
    display: block;
}
.modal-content {
    background-color: #ffffff;
    width: 80%;
    min-height: 60%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/* 모달 */

/*ptk*/


/*csm*/

/*문제*/
.question{
    text-align: left;
    padding-left: 11%;
    font-weight: bold;
    border-bottom: 1px solid#000000;
    padding-bottom: 15px;
}
/*문제*/

/*문제집 등록*/
.insert_main .title{
    font-weight: bold; font-size: 20px;
    padding-left: 10%;
}

.add{
    font-size: 20px; color: #818181;
    padding-left: 20%;
}

.subject{
    padding-top: 5%;
}

.input{
    padding-left: 13%;
    padding-bottom: 5%;
}

.tag{
    padding-left: 13%;
}

.input_title{
    width: 270px;
    height: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #000000;
}

.question_list{
    background-color: #dce0e3;
    border: 2px solid black;
    margin-left: 9%;
    margin-right: 9%;
    margin-bottom: 9%;
    margin-top: 5%;
}

.now_question{
    padding-top: 3%;
    padding-bottom: 3%;
}

.one_question{
    padding-left: 10%;
    padding-right: 7%;
}

.color{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #000000;
    margin-left: 13%;
}

.color-list{
    display: flex;
}

.cancelbtn{
    background-color: #ff2d2d; padding: 0.4rem 0.6rem; font-weight: bold; color: #eee; border-radius: 0.3rem;
}
/*문제집 등록*/
