.title{
    font-weight: bold; font-size: 20px;
    padding-left: 10%;
}

.add{
    font-size: 20px; color: #818181;
    padding-left: 20%;
}

.subject{
    padding-top: 5%;
}

.input{
    padding-left: 13%;
    padding-bottom: 5%;
}

.tag{
    padding-left: 13%;
}

.input_title{
    width: 270px;
    height: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #000000;
}

.question_list{
    background-color: #dce0e3;
    border: 2px solid black;
    margin-left: 9%;
    margin-right: 9%;
    margin-bottom: 9%;
    margin-top: 5%;
}

.now_question{
    padding-top: 3%;
    padding-bottom: 3%;
}

.one_question{
    padding-left: 10%;
    padding-right: 7%;
}

.color{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #000000;
    margin-left: 13%;
}

.color-list{
    display: flex;
}

.cancelbtn{
    background-color: #ff2d2d; padding: 0.4rem 0.6rem; font-weight: bold; color: #eee; border-radius: 0.3rem;
}